@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "游ゴシック体", YuGothic, "Yu Gothic Medium", 'Noto Sans JP', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #fafafa;
  letter-spacing: 0.03em; }

html {
  touch-action: manipulation; }

body {
  width: 100%;
  background-color: #fcfcfc; }

#container {
  overflow-x: hidden; }
  #container a {
    color: #37b;
    text-decoration: none; }
  #container button, #container .social-button {
    display: block;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.6);
    z-index: 10;
    transition: all ease 0.2s; }
    @media screen and (min-width: 370px) {
      #container button, #container .social-button {
        width: 44px;
        height: 44px;
        right: 16px;
        bottom: 76px; } }
  #container #cover-block {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all ease 400ms;
    background-color: #666;
    background: no-repeat center/cover url("../img/image_background.png"); }
    #container #cover-block #cover-filter {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.8); }
    #container #cover-block #cover-inner {
      width: calc(100% - 32px);
      max-width: 600px;
      margin: 0 auto; }
      #container #cover-block #cover-inner img {
        display: block;
        width: 200px;
        margin: 32px auto; }
      #container #cover-block #cover-inner h1 span {
        font-size: 24px;
        font-weight: bold;
        line-height: 40px;
        color: #fefefe;
        display: inline-block; }
        @media screen and (min-width: 500px) {
          #container #cover-block #cover-inner h1 span {
            font-size: 32px;
            line-height: 52px; } }
        @media screen and (min-width: 800px) {
          #container #cover-block #cover-inner h1 span {
            font-size: 40px;
            line-height: 40px;
            line-height: 64px; } }
      #container #cover-block #cover-inner h4 {
        margin-top: 32px;
        font-size: 16px;
        color: #dddddd;
        line-height: 32px; }
      #container #cover-block #cover-inner h5 {
        margin-top: 16px;
        color: #dddddd;
        font-size: 16px;
        position: relative; }
        #container #cover-block #cover-inner h5 a {
          font-size: 16px;
          color: #9ce; }
      #container #cover-block #cover-inner button {
        display: block;
        width: 240px;
        height: 48px;
        border: none;
        border-radius: 24px;
        background-color: #d53;
        color: #fefefe;
        font-size: 15px;
        margin: 0 auto;
        margin-top: 48px; }
      #container #cover-block #cover-inner p {
        margin-top: 24px;
        margin-bottom: 48px;
        text-align: center; }
        #container #cover-block #cover-inner p a {
          font-size: 13px;
          color: #9ce; }
    #container #cover-block.hide {
      opacity: 0;
      pointer-events: none;
      transform: scale(1.2); }
  #container #title-block {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
    text-align: right;
    font-size: 13px;
    font-weight: bold;
    color: #fefefe;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8); }
    @media screen and (min-width: 370px) {
      #container #title-block {
        right: 16px; } }
    @media screen and (min-width: 400px) {
      #container #title-block {
        font-size: 14px; } }
  #container #map-block {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #aaa;
    transition: none;
    overflow: hidden; }
    #container #map-block .mapboxgl-missing-css {
      display: none !important; }
    #container #map-block #no-support {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: no-repeat center/cover url("../img/image_1200_630.png");
      z-index: 100;
      display: none; }
      #container #map-block #no-support.show {
        display: block; }
      #container #map-block #no-support .cover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7); }
        #container #map-block #no-support .cover p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: rgba(255, 255, 255, 0.9);
          font-size: 0.9em;
          text-align: center; }
    #container #map-block #description-modal .cover {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 300;
      pointer-events: none; }
    #container #map-block #description-modal .modal {
      position: fixed;
      width: calc(100% - 36px);
      max-width: 540px;
      height: 100%;
      top: 0;
      right: -10%;
      background-color: rgba(0, 0, 0, 0.9);
      border-radius: 0;
      z-index: 400;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
      transition: all ease 300ms;
      opacity: 0;
      pointer-events: none; }
      #container #map-block #description-modal .modal button.close {
        position: absolute;
        width: 48px;
        height: 48px;
        top: 16px;
        right: 16px;
        border: none;
        border-radius: 50%;
        background: center/80% no-repeat url("../img/material-icon-close.svg");
        transition: all ease 200ms; }
        #container #map-block #description-modal .modal button.close:hover {
          cursor: pointer;
          background-color: #333; }
      #container #map-block #description-modal .modal .inner {
        width: 100%;
        height: calc(100% - 68px);
        margin-top: 68px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 0 24px; }
        #container #map-block #description-modal .modal .inner::-webkit-scrollbar {
          display: none; }
        @media screen and (min-width: 370px) {
          #container #map-block #description-modal .modal .inner {
            padding: 0 32px; } }
        #container #map-block #description-modal .modal .inner section {
          display: none; }
          #container #map-block #description-modal .modal .inner section.tooltip table tr th, #container #map-block #description-modal .modal .inner section.tooltip table tr td {
            padding-right: 8px;
            font-size: 16px;
            color: #fafafa;
            white-space: nowrap; }
          #container #map-block #description-modal .modal .inner section.tooltip table tr th {
            font-size: 13px;
            color: #ccc;
            text-align: left; }
          #container #map-block #description-modal .modal .inner section.tooltip h5 {
            color: #fafafa;
            margin-top: 32px;
            margin-bottom: 8px; }
          #container #map-block #description-modal .modal .inner section.tooltip #tooltip-chart {
            margin-left: -8px;
            width: calc(100% + 16px); }
          #container #map-block #description-modal .modal .inner section h4 {
            margin-bottom: 16px;
            color: #fafafa;
            font-size: 24px;
            font-weight: bold; }
            #container #map-block #description-modal .modal .inner section h4 span {
              color: #fafafa;
              font-size: 20px;
              font-weight: bold;
              display: inline-block; }
              @media screen and (min-width: 370px) {
                #container #map-block #description-modal .modal .inner section h4 span {
                  font-size: 22px; } }
              @media screen and (min-width: 400px) {
                #container #map-block #description-modal .modal .inner section h4 span {
                  font-size: 24px; } }
          #container #map-block #description-modal .modal .inner section h5 {
            margin-bottom: 16px;
            font-size: 13px;
            color: #ccc; }
            #container #map-block #description-modal .modal .inner section h5 a {
              font-size: 12px;
              color: #9ce; }
          #container #map-block #description-modal .modal .inner section p {
            color: #eeeeee;
            line-height: 32px;
            font-size: 16px;
            margin-bottom: 32px; }
            #container #map-block #description-modal .modal .inner section p img {
              display: block;
              width: 100%;
              border-radius: 4px; }
            #container #map-block #description-modal .modal .inner section p.small {
              color: #dddddd;
              line-height: 30px;
              font-size: 14px; }
              #container #map-block #description-modal .modal .inner section p.small a {
                font-size: 14px;
                color: #9ce; }
          #container #map-block #description-modal .modal .inner section .row-disaster {
            height: 56px;
            width: 100%;
            border: none;
            border-radius: 28px;
            background-color: #234;
            padding: 6px 0 0 32px;
            margin-bottom: 4px; }
            #container #map-block #description-modal .modal .inner section .row-disaster div:nth-child(1) {
              color: #ccc;
              font-size: 13px; }
            #container #map-block #description-modal .modal .inner section .row-disaster div:nth-child(2) {
              color: #fefefe;
              font-size: 16px; }
            #container #map-block #description-modal .modal .inner section .row-disaster:hover {
              cursor: pointer;
              background-color: #456; }
            @media screen and (min-width: 370px) {
              #container #map-block #description-modal .modal .inner section .row-disaster {
                height: auto;
                padding: 8px 0 8px 24px; }
                #container #map-block #description-modal .modal .inner section .row-disaster div:nth-child(1) {
                  display: inline-block;
                  width: 120px; }
                #container #map-block #description-modal .modal .inner section .row-disaster div:nth-child(2) {
                  display: inline-block; } }
          #container #map-block #description-modal .modal .inner section .caption {
            color: #aaa;
            font-size: 12px;
            margin-top: -24px; }
          #container #map-block #description-modal .modal .inner section.show {
            display: block; }
    #container #map-block #description-modal.show .cover {
      pointer-events: auto; }
    #container #map-block #description-modal.show .modal {
      opacity: 1;
      right: 0;
      pointer-events: auto; }
    #container #map-block #bottom-block {
      position: absolute;
      display: flex;
      height: 60px;
      width: 100%;
      bottom: 0px;
      z-index: 10;
      padding-left: calc((100% - 306px) / 2);
      background-image: linear-gradient(0deg, black 0%, black 20%, rgba(0, 0, 0, 0.5) 80%, transparent 100%); }
      @media screen and (min-width: 370px) {
        #container #map-block #bottom-block {
          padding-left: calc((100% - 338px) / 2); } }
      @media screen and (min-width: 600px) {
        #container #map-block #bottom-block {
          padding-left: calc((100% - 434px) / 2); } }
      #container #map-block #bottom-block .button-wrapper .input-date-button {
        margin: 0 4px;
        background-image: linear-gradient(0deg, #cccccc 0%, #cacaca 100%); }
        @media screen and (min-width: 600px) {
          #container #map-block #bottom-block .button-wrapper .input-date-button {
            margin: 0 16px; } }
        #container #map-block #bottom-block .button-wrapper .input-date-button img {
          width: 75%;
          height: 100%;
          opacity: 0.5; }
        #container #map-block #bottom-block .button-wrapper .input-date-button.prev img {
          transform: scale(-1, 1); }
        #container #map-block #bottom-block .button-wrapper .input-date-button.clickable {
          background-image: linear-gradient(0deg, #fefefe 0%, #fcfcfc 100%); }
          #container #map-block #bottom-block .button-wrapper .input-date-button.clickable img {
            opacity: 1; }
          #container #map-block #bottom-block .button-wrapper .input-date-button.clickable:hover {
            cursor: pointer;
            background-image: linear-gradient(0deg, #fefefe 0%, #fcfcfc 100%); }
      #container #map-block #bottom-block .button-wrapper .button-label {
        font-size: 9px;
        color: #ccc;
        text-align: center;
        margin-top: -50px; }
        @media screen and (min-width: 370px) {
          #container #map-block #bottom-block .button-wrapper .button-label {
            font-size: 10px;
            margin-top: -60px; } }
      #container #map-block #bottom-block #date-box {
        font-size: 20px;
        color: #fefefe;
        line-height: 36px;
        width: 130px;
        text-align: center; }
        @media screen and (min-width: 370px) {
          #container #map-block #bottom-block #date-box {
            line-height: 44px; } }
    #container #map-block #vertical-buttons {
      position: absolute;
      z-index: 10;
      right: 16px;
      bottom: 96px; }
      @media screen and (min-width: 600px) {
        #container #map-block #vertical-buttons {
          bottom: -8px; } }
      #container #map-block #vertical-buttons button, #container #map-block #vertical-buttons a {
        display: block;
        margin-bottom: 16px; }
        @media screen and (min-width: 500px) {
          #container #map-block #vertical-buttons button, #container #map-block #vertical-buttons a {
            margin-bottom: 24px; } }
      #container #map-block #vertical-buttons #description-button {
        background-color: #fefefe;
        background-image: url(../img/material-icon-error-outline.svg);
        transform: rotate(180deg);
        z-index: 20; }
        #container #map-block #vertical-buttons #description-button.show {
          background-color: #ed3;
          transform: rotate(0deg); }
          #container #map-block #vertical-buttons #description-button.show::before {
            content: '';
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border: 6px solid #fa6;
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: ring 1.5s infinite;
            pointer-events: none; }
          #container #map-block #vertical-buttons #description-button.show:hover::after, #container #map-block #vertical-buttons #description-button.show:focus::after {
            animation: none;
            display: none; }
@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1; }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0; } }
      #container #map-block #vertical-buttons .social-button {
        border: 1px solid #fefefe; }
        #container #map-block #vertical-buttons .social-button.facebook {
          background-image: url("../img/social-icon-facebook.svg"); }
        #container #map-block #vertical-buttons .social-button.twitter {
          background-image: url("../img/social-icon-twitter.svg"); }
    #container #map-block #rotate-buttons {
      position: absolute;
      top: 8px;
      left: 8px;
      width: 108px;
      height: 108px;
      z-index: 100; }
      @media screen and (min-width: 370px) {
        #container #map-block #rotate-buttons {
          width: 116px;
          height: 116px; } }
      #container #map-block #rotate-buttons button {
        width: 36px;
        height: 36px;
        border-radius: 18px;
        border: 1px solid #ccc;
        background-color: #333;
        position: absolute;
        cursor: pointer;
        background: center 80%/90% no-repeat url(../img/material-icon-down-white.svg);
        background-color: #333;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.6); }
        @media screen and (min-width: 370px) {
          #container #map-block #rotate-buttons button {
            width: 44px;
            height: 44px;
            border-radius: 22px; } }
      #container #map-block #rotate-buttons [type="left"] {
        top: 36px;
        left: 0;
        transform: rotate(90deg); }
      #container #map-block #rotate-buttons [type="right"] {
        top: 36px;
        right: 0;
        transform: rotate(270deg); }
      #container #map-block #rotate-buttons [type="up"] {
        top: 0;
        left: 36px;
        transform: rotate(180deg); }
      #container #map-block #rotate-buttons [type="down"] {
        bottom: 0;
        left: 36px; }

/*# sourceMappingURL=style.css.map */
